/* MAIN */
#vs_main {
    background-image:
        linear-gradient(180deg, #060821 0%, #06082120 25%, #0608218f 80%, #060821 100%),
        url("../../assets/images/background_login.png");
    min-height: calc(100vh - 339px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
}

#vs_main .container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

#vs_main .glass{
    border: solid 1px #909090;
    border-radius: 16px;
    background: linear-gradient(136deg, #ffffff1a 0%, #ffffff0b 100%);
    backdrop-filter: blur(15px);
    padding-bottom: 50px;
}

#vs_main h1 {
    text-align: center;
    color: var(--branco);
    font-family: var(--font1);
    padding-top: 50px;
    font-size: 46px;
}

#vs_main hr {
    margin: 20px auto 50px;
    width: 80%;
    height: 4px;
    background-color: var(--rosa);
    border: none;
    border-radius: 50%;
}

#vs_main .servico {
    width: 85%;
    margin: 0 auto;
    padding: 15px;

    border: solid 1px #909090;
    border-radius: 16px;
    background: linear-gradient(136deg, #ffffff1a 0%, #ffffff0b 100%);
    backdrop-filter: blur(15px);

    font-family: var(--font2);
    color: var(--branco);
}

#vs_main .topo_servico {
    width: 100%;

    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 20px;
}

#vs_main .topo_servico h3 {
    width: 65%;
}

#vs_main .servico p {
    margin-bottom: 30px;
}

#vs_main .servico .techs {
    max-width: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#vs_main .servico .techs span {
    font-size: 14px;
    padding: 2px 10px;

    margin-right: 20px;
    margin-bottom: 15px;

    border-radius: 20px;
    background-color: var(--rosa);
    color: white;
    font-weight: 600;
}