/* FOOTER */
#footer {
    background-image: 
        linear-gradient( #06082170, #06082170),
        url("../../assets/images/background_footer.png");
    background-size: cover;
    color: var(--branco);
}

#footer .rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#footer .span_dicas {
    width: 100%;
    max-width: 860px;
    height: 300px;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #FFFFFF;
    box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 60px;
    top: -35px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

#footer .span_dicas img {
    position: absolute;
    top: -100px;
    left: 70px;
    width: 40%;
    max-width: 300px;
    /* width: 300px; */
}

#footer .span_dicas_texto {
    width: 52%;
    font-family: var(--font2);
    font-size: 24px;
    padding-right: 40px;
}

#footer .span_dicas_texto p {
    margin-bottom: 30px;
}

#footer .botao_dicas {
    padding: 10px 50px;
    color: var(--azul);
    background-color: var(--branco);
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    border-radius: 30%;
    box-shadow: 15px 15px 30px #00000066;
    font-family: var(--font1);
}

#footer .rodape>p {
    font-family: var(--font2);
    margin-bottom: 10px;
}





/* MEDIAS */
@media screen and (max-width: 768px) {
    /* FOOTER */
    #footer .span_dicas_texto{
        width: 90%;
        text-align: center;
    }

    #footer .span_dicas img{
        display: none;
    }

    #footer .rodape_conteudo{
        flex-direction: column;
        align-items: center;
    }



}